html, body {
    margin: 0;
    padding: 0;
    background: #181003;
    color: white;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: hidden;  /* no scroll */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#app {
    transform-origin: top center;  /* important for scaling */
}

.header-area {
    margin-top: 20px;
    margin-bottom: 20px;
}

#dateToday {
    font-size: 4.5vw;
    font-weight: 700;
}

#zoneName {
    font-size: 3.5vw;
    opacity: 0.8;
}

.card {
    background: rgba(255,255,255,0.12);
    padding: 25px;
    margin: 18px auto;
    width: 90%;
    border-radius: 28px;
}

.card-title {
    font-size: 5vw;
    font-weight: 700;
    margin-bottom: 10px;
}

.time-big {
    font-size: 10vw;
    font-weight: 800;
}

.time-medium {
    font-size: 8vw;
    font-weight: 800;
}

.time-label {
    font-size: 6vw;
    opacity: 0.95;
}

.section-title {
    font-size: 6vw;
    font-weight: 800;
    margin-top: 20px;
}

.countdown-container {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: 20px auto;
}

.count-item {
    padding: 20px;
    border-radius: 15px;
    background: rgba(255,255,255,0.12);
}

.count-number {
    font-size: 9vw;
    font-weight: 800;
}

.count-text {
    font-size: 3.5vw;
    margin-top: 5px;
}

.prayer-row {
    background: rgba(255,255,255,0.12);
    padding: 18px 24px;
    border-radius: 16px;
    width: 90%;
    margin: 10px auto;
    font-size: 5vw;
    display: flex;
    justify-content: space-between;
}

.currentPrayer {
    background: #c7a000 !important;
    border: 3px solid #ffe44c !important;
    color: black !important;
}
